
.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(229, 84, 115, 0.1);
    
}
.header{
    
    padding-left: 400px;
    padding-top: 150px;
    padding-bottom: none;
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 60px;
font-weight: 800;
line-height: 70px;
letter-spacing: 0%;
text-align: left;

   
}
.description{
     padding-left: 400px;
    padding-top: none;
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
   
}
.header-1 .btn {
    align-items: center;
    margin-left: 400px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(229, 84, 115);
    color: white;
}
.hero img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 20px;
    display: block;
}
.head{
   font-weight: 800;
   font-size: 55px;
   align-items: center;
   justify-content: center; 
   margin-left: 650px;  
}
.pera{
    align-items: center;
   justify-content: center; 
   margin-left: 600px; 
}
.title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.image img {
    
    border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     margin-top: 30px;
     margin-left: 30px;
     margin-right: 30px;
     margin-bottom: 30px;
     align-items: center;
     justify-content:center;
    
}

.footer{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
  align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    -moz-box-align: center;

}
.span{
    color: red;
}
.image-1{
   margin-left: 300px;
   margin-right: 200px;
}
.btn-1{
     margin-left: 400px;
     align-items: center;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(229, 84, 115);
    color: white;
}
.hero-1 img{
         width: 418px;
         height: 520px;
         margin-top: 120px;
}
.tanvir{
    margin-top: 40px;
}
.instagram{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: rgb(255, 255, 255)
    
}
.instagram img{
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    margin-left: 70px;
}
footer{
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 449px;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.submit{
    align-items: center;
    justify-content: center;
    margin-left: 480px;
    margin-top: 50px;
    width: 350px;
    height: 40px;
    font: 1em sans-serif;
    color: white;
    
}
.btn-2{
    background: rgb(229, 84, 115);
    width: 100px;
    height: 44px;
    cursor: pointer;
}