.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(229, 84, 115, 0.1);
    
}
.header{
    
    padding-left: 400px;
    padding-top: 150px;
    padding-bottom: none;
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 60px;
font-weight: 800;
line-height: 70px;
letter-spacing: 0%;
text-align: left;

   
}
.description{
     padding-left: 400px;
    padding-top: none;
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
   
}
header .btn{
    align-items: center;
    margin-left: 400px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(229, 84, 115);
    color: white;
}
.hero img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 20px;
    display: block;
}
.title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.image img {
    
    border-radius: 300px 300px 0px 0px;
     background: rgba(167, 33, 98, 0.15);
     margin-top: 30px;
     margin-left: 30px;
     margin-right: 30px;
     margin-bottom: 30px;
     align-items: center;
     justify-content:center;
    
}
.image a{
    top: 40;
    right: 150;
}